* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
body {
  background-color: rgba(28, 26, 23, 0.90);
  color: #BEAE97;
}
.container {
  width: 1280px;
  margin: 0 auto;
  min-height: 50px;
}
.navbar-link {
  color:#BEAE97 ;
}
.div {
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  display: flex;
  gap: 5px;
}
.navbar-nav {
  display: flex;
  gap: 105px;
}
.header-text h4 {
  margin-left: 280px;
}
.div2 {
  width: 165px;
  height: 48px;
  border: 1px solid #D6B88D;
  background-color: #2B2825;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.div2 h3 {
  font-weight: 600;
  font-size: 16px;
  color: #C09E6C;
  text-align: center;
}
.fa-bars {
  font-size: 30px;
  color: #C09E6C;
}
.navvbar {
  display: flex;
  align-items: center;
}
.input {
  width: 875px;
height: 48px;
border-radius: 4px;
background-color: #12110F;
color: #867A68;
}
.fa-magnifying-glass {
  font-size: 30px;
}
.search {
  margin-left: -50px;
}
.fa-user, .fa-bag-shopping {
  font-size: 30px;
  margin-right: 50px;
}
.fa-user {
  margin-left: 60px;
}
.header {
  width: 1440px;
height: 500px;
  background-image: url(../public/img/header-img.png);
}
.victoria-content {
  margin-top: 110px;
}
.pp1 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 50px;
  color: #FFEBCC;
  margin-left: 80px;
}
.buton {
  margin-bottom: 60px;
}
.par {
  margin-top: 50px;
  color: #FFEBCC;
  font-weight: 400;
  font-size: 24px;
}
.filter {
  width: 305px;
  height: 52px;
  margin-top: 30px;
  background-color: #36332E;
}
.filter:hover {
  background:  linear-gradient( #C09E6C , #FFEBCC , #BF936B )  ;
}
.filter h4:hover {
color: #36332E;
}
.divv {
  display: flex;
  gap: 20px;
}
.filter h4 {
  font-weight: 400;
  font-size: 18px;
  color: #FFEBCC;
 padding: 14px 73px 20px;
}
.filter img {
  width: 24px;
  height: 18px;
}
.ppp1 {
  font-weight: 400;
  font-size: 24px;
  margin-left: 80px;
  color: #FFEBCC;
}
.atirlar-card:hover {
  border: 1px solid #C09E6C;
  background-color: #211E1C;
}
.atirlar-card img {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.atirlar-card button:hover {
  color: #3C3428;
}
.padd30 {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.header-text h2 {
  width: 740px;
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 30px;
padding-top: 120px;
}
.header-text h4 {
  width: 237px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0%;
}
.header-text span {
  font-weight: 800;
  font-size: 24px;

}

.victoria-text {
  width: 522px;
  height: 400px;
  background-image: url(../public/img/victoria-bg-img.png);
}
.victoria-title {
  text-align: center;
font-weight: 400;
font-size: 24px;
margin-top: 10px;
padding-bottom: 273px;
}
.victoria-text h4 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #E1D3BD;
}
.victoria-text button {
  font-weight: 600;
  font-size: 16px;
  color: #BF936B;
  padding: 12px 65px;
  margin-left: 80px;
  margin-top: 10px;
  background-color: #2B2825;
  border: 1px solid #D6B88D;
}
.victoria-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.aventus {
  width: 359px;
  background-image: url(../public/img/aventus.png);
}
.narco {
  width: 359px;
  background-image: url(../public/img/narco.png);
}
.bonus {
  background-image: url(../public/img/bonus.png);
}

.bonus-text h3 {
  font-weight: 400;
  font-size: 30px;
  padding-top:50px ;
}
.bonus-text p {
font-weight: 400;
font-size: 16px;
margin-top: 35px;
margin-bottom: 35px;
}
.bonus-text button {
  padding: 12px 31px;
  color: #D6B88D;
  font-weight: 600;
  font-size: 16px;
  background-color: #2B2825;
  border: 1px solid #D6B88D;
}

.atirlar-card {
  margin-top: 50px;
}
.atirlar-title {
  margin-top: 10px;
  margin-bottom: 10px;

}
.atirlar-title2 {
  margin-top: 1px;
}

.div3 {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D6B88D;
  background-color: #2B2825;
  border-radius: 4px;
    color: #D6B88D;
  
}
.div4 {
  display: flex;
  gap: 20px;
}
.div3:hover {
  background:linear-gradient(#C09E6C,#FFEBCC,#BF936B) ;
color: #3C3428;
}
.atirlar-title3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.buttonn {
  padding: 12px 72px;
  color: #D6B88D;
  font-weight: 600;
  font-size: 16px;
  background-color: #2B2825;
  border: 1px solid #D6B88D;
}
.fww {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.buttonn:hover {
  background: linear-gradient( #C09E6C , #FFEBCC , #BF936B );  
}


.footer {
  margin-top: 100px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-f {
  font-weight: 400;
  font-size: 18px;
  width: 420px;
  color: #BEAE97;
  display: flex;
  align-items: center;
}
.footer-ff {
  font-weight: 400;
  font-size: 18px;
  color: #BEAE97;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer-fff {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #BEAE97;
}
.fa-whatsapp {
  font-size: 30px;
}
.fa-telegram {
  font-size: 30px;
}
.fa-envelope {
  font-size: 30px;
}

.footer-ffff {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  color: #BEAE97;
  display: flex;
  align-items: center;
}
.p {
  font-size: 14px;
  margin-top: 60px;
  color: #BEAE97;
}
.p1 {
  font-size: 14px;
  color: #BEAE97;
  margin-top: 10px;
}
.pp {
  text-align: center;
}